In [ ]:
import yfinance as yf

# import pandas as pd
# import matplotlib.pyplot as plt

In [ ]:
ativo = "ITUB3.SA"

data_inicial = "2022-01-01"
data_final = "2025-12-31"

tabela_cotacao = yf.download(
    ativo, start=data_inicial, end=data_final, progress=False
)
tabela_cotacao = tabela_cotacao.xs(ativo, level="Ticker", axis=1)
tabela_cotacao["adjust_close"] = tabela_cotacao["Close"].pct_change()
tabela_cotacao.columns.name = None
tabela_cotacao = tabela_cotacao.reset_index()

tabela_cotacao

,Date,Close,High,Low,Open,Volume,adjust_close
0,2022-01-03,12.393389,12.585237,12.175960,12.335834,1461343,NaN
1,2022-01-04,12.668375,12.693954,12.374208,12.374208,1115778,0.022188
2,2022-01-05,12.412577,12.732323,12.393391,12.649188,984350,-0.020192
3,2022-01-06,12.636399,12.661979,12.374208,12.604426,2113838,0.018032
4,2022-01-07,12.834642,12.853827,12.444550,12.687559,1116684,0.015688
...,...,...,...,...,...,...,...
994,2025-12-22,35.351757,35.584653,35.274128,35.477909,1940108,-0.003556
995,2025-12-23,35.759327,35.866071,35.419686,35.565246,889817,0.011529
996,2025-12-26,36.032497,36.072479,35.682669,35.832594,554500,0.007639
997,2025-12-29,35.982521,36.162434,35.792615,36.032496,627500,-0.001387
998,2025-12-30,36.332348,36.692174,36.032494,36.032494,618800,0.009722